[class*="col-"]{
    border:1px solid white;
    background: rgb(0, 102, 255);
    color:white;
    text-align: center;
    min-height: 40px;
    padding: 10px;
    
    
}

[class*="col-"] [class*="col"]{
    background: rgb(116, 212, 116);
    line-height: 40px;
    padding: 0;
    border:1px solid rgb(0, 102, 255);; 
}




.container{
    margin-bottom: 20px;
}